In [203]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException,ElementClickInterceptedException
from selenium.common.exceptions import StaleElementReferenceException
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
import warnings
warnings.filterwarnings('ignore')

In [82]:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.amazon.in/")

In [83]:
p_list = ['laptops','Mobile Phones','headphones','smart watches','cameras for photography','printers','Monitors','Home Theater',
          'routers']
href = []
for i in p_list:
    srch = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
    srch.click()
    srch.send_keys(i)
    button = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']").click()
    
    page = list(range(1,11))
    for k in page:
        link = 'https://www.amazon.in/s?k={}&page={}&crid=UYZMX0OWZ8CV&qid=1640610958&sprefix=%2Caps%2C861&ref=sr_pg_{}'.format(i,k,k)
        driver.get(link)
        link2 = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
        for lnk in link2:
            href.append(lnk.get_attribute('href'))
        
    input_ = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
    input_.clear()

In [84]:
print(len(href))

1832

In [86]:
review_lnk = []
for i in href:
    driver.get(i)
    # auto scroll page
    for i in range(0,4):
        actions = ActionChains(driver)
        for _ in range(0,5):
            actions.send_keys(Keys.PAGE_DOWN).perform()
            time.sleep(1)

    try:
        view_all = driver.find_elements_by_xpath("//*[@id='reviews-medley-footer']/div[2]/a")
        for k in view_all:
            review_lnk.append(k.get_attribute('href'))
    except NoSuchElementException:
        pass
    
print(len(review_lnk))

1503

In [87]:
review = []
rating = []
list_of_floats = []
num = [] 

for re in review_lnk:
    driver.get(re)
    # auto scroll page
    for i in range(0,3):
        actions = ActionChains(driver)
        for _ in range(0,3):
            actions.send_keys(Keys.PAGE_DOWN).perform()
            time.sleep(1)
            
    
    rev = driver.find_elements_by_xpath("//div[@class='a-row a-spacing-small review-data']/span")
    try:
        for i in rev:
            review.append(i.text)
    except NoSuchElementException:
        review.append('?')
    
    rat = driver.find_elements_by_xpath("/html/body/div/div/div/div/div/div/div/div/div/div/div/div/div[2]/a[1]")
    try:
        for i in rat:
            rating.append(i.get_attribute('title'))
    except NoSuchElementException:
        rating.append('?') 

whole = [num.split()[0] for num in rating]

for item in whole:
    list_of_floats.append(float(item))   
for i in list_of_floats:
    num.append(round(i))

In [91]:
amazon_products = pd.DataFrame({})
amazon_products['review'] = review[0:12600]
amazon_products['rating'] = num[0:12600]
amazon_products

                                                  review  rating
0      Did not meet expectations:\nTakes significant ...       3
1      This laptop is great in terms of how light wei...       1
2      First day of using this laptop\nIt’s damn fast...       5
3      Play Video\n Pros\n-----\n- Very light weight\...       2
4      Play Video\n This really serves the purpose. I...       5
...                                                  ...     ...
12595  Excellent and extremely light and portable rou...       1
12596  I'm yet to check it. I purchased this item for...       4
12597  Its working with most carrier locked data card...       2
12598  Simple and good -3G wifi router. I needed this...       5
12599  The information regarding configuration of the...       1

[12600 rows x 2 columns]

In [92]:
driver.close()

In [188]:
driver = webdriver.Chrome(r"C:\Program Files (x86)\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.flipkart.com/")
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [174]:
p_list = ['laptops','Smart Phones','headphones','smart watches','cameras ','printers','Monitors','Home Theater',
          'routers']
href = []
for i in p_list:
    srch = driver.find_element_by_xpath("//input[@class='_3704LK']")
    srch.click()
    srch.send_keys(i)
    button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
    
    page = list(range(1,4))
    for k in page:
        link = 'https://www.flipkart.com/search?q={}&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}'.format(i,k,)
        driver.get(link)
        link2 = driver.find_elements_by_xpath("//*[@id='container']/div/div/div/div/div/div/div/div/a")
        for lnk in link2:
            href.append(lnk.get_attribute('href'))
        
    input_ = driver.find_element_by_xpath("//input[@class='_3704LK']")
    input_.click()
    input_.send_keys(Keys.CONTROL+'A'+Keys.BACKSPACE)

In [175]:
print(len(href))

2091

In [177]:
review_lnk = []
for i in href:
    driver.get(i)
    # auto scroll page
    for i in range(0,3):
        actions = ActionChains(driver)
        for _ in range(0,3):
            actions.send_keys(Keys.PAGE_DOWN).perform()
            time.sleep(1)

    try:
        view_all = driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")
        for k in view_all:
            review_lnk.append(k.get_attribute('href'))
    except NoSuchElementException:
        pass

In [178]:
print(len(review_lnk))

1419

In [189]:
review2 = []
rating2 = []

for re in review_lnk:
    driver.get(re)
    # auto scroll page
    for i in range(0,2):
        actions = ActionChains(driver)
        for _ in range(0,2):
            actions.send_keys(Keys.PAGE_DOWN).perform()
            time.sleep(1)
            
    
    rev = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
    try:
        for i in rev:
            review2.append(i.text)
    except NoSuchElementException:
        review2.append('?')
    
    rat = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    try:
        for i in rat:
            rating2.append(i.text) 
    except NoSuchElementException:
        rating2.append("?")
        
    rat2 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
    try:
        for i in rat2:
            rating2.append(i.text)
    except NoSuchElementException:
        rating2.append("?")

In [190]:
print(len(review2))
print(len(rating2))

13204
12809

In [207]:
flipkart_product = pd.DataFrame({})
flipkart_product['review'] = review2[0:12809]
flipkart_product['rating'] = rating2[0:12809]
flipkart_product

                                                  review rating
0      Easily one of the most valuable & wonderful ga...      5
1      It's a decent laptop in this price range. I wa...      5
2      I am writing an honest review after using this...      5
3      I have no negatives to say about this laptop. ...      5
4      SuperB Product. Highly Recommended. Best in th...      5
...                                                  ...    ...
12804  Using with BSNL. Speed is good compare with mo...      5
12805  Well, this product is awesome but configuratio...      5
12806  Router is good, solve the problem and you can ...      5
12807  It's just been 2 days since I've started using...      4
12808  Sabka baap......nice product WiFi range is ver...      5

[12809 rows x 2 columns]

In [192]:
driver.close()

In [208]:
review_rating = pd.concat([amazon_products,flipkart_product], axis=0)
review_rating

                                                  review rating
0      Did not meet expectations:\nTakes significant ...      3
1      This laptop is great in terms of how light wei...      1
2      First day of using this laptop\nIt’s damn fast...      5
3      Play Video\n Pros\n-----\n- Very light weight\...      2
4      Play Video\n This really serves the purpose. I...      5
...                                                  ...    ...
12804  Using with BSNL. Speed is good compare with mo...      5
12805  Well, this product is awesome but configuratio...      5
12806  Router is good, solve the problem and you can ...      5
12807  It's just been 2 days since I've started using...      4
12808  Sabka baap......nice product WiFi range is ver...      5

[25409 rows x 2 columns]

In [209]:
review_rating.to_csv('review_rating.csv')